<!DOCTYPE html>
<html lang="fr">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" name="viewport" />
    <title>MouhammadWDiouf</title>
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap"
          rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap"
          rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Ultra&display=swap" rel="stylesheet">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    <script src="https://kit.fontawesome.com/6fa5dbff09.js" crossorigin="anonymous"></script>
    <script defer src="/js/script.js"></script>

</head>

<body>
    <h2>Me contacter</h2>

    <form action="/Home/EnvoyerCourriel" method="post">
        <label class="form-label">Objet</label>
        <br />
        <input type="text" name="TxtObjet" class="form-control" />
        <br />
        <label class="form-label">Message</label>
        <br />
        <textarea name="TxtMessage" class="form-control"></textarea>
        <br />
        <button class="btn btn-primaire" style="color:antiquewhite">
            <input type="submit" />
        </button>
    </form>

    <footer style="margin-top:50px;">
        <div class="wrapper">
            <div class="animate">
                <li><span class="dot"></span></li>
                <li><span class="dot"></span></li>
                <li><span class="dot"></span></li>
                <li><span class="dot"></span></li>
                <li><span class="dot"></span></li>
                <li><span class="dot"></span></li>
                <li><span class="dot"></span></li>
                <li><span class="dot"></span></li>
                <li><span class="dot"></span></li>
                <li><span class="dot"></span></li>
                <li><span class="dot"></span></li>
                <li><span class="dot"></span></li>
                <li><span class="dot"></span></li>
                <li><span class="dot"></span></li>
                <li><span class="dot"></span></li>

            </div>
            <article class="pair">
                <h2 style="text-align: center;">
                    Contact</h1>
                    <div class="contact">
                        <div style="color: aliceblue;" class="content_contact">
                            <a _blank href="https://github.com/Diouf10" target="_blank">
                                <h3 style="color: aliceblue;">Github</h3>
                                <i style="color: aliceblue;" class="fa fa-github fa-2xl" aria-hidden="true"></i>
                            </a>
                        </div>
                        <div style="color: aliceblue;" class="content_contact">
                            <a href="mailto:dioufmouhammad@gmail.com" target="_blank">
                                <h3 style="color: aliceblue;">Gmail</h3>
                                <i style="color: aliceblue;" class="fa-solid fa-envelope fa-2xl"></i>
                            </a>
                        </div>
                        <div style="color: aliceblue;" class="content_contact">
                            <a href="https://www.linkedin.com/in/mouhammad-wagane-diouf-b5943320b/" target="_blank">
                                <h3 style="color: aliceblue;">Linkedin</h3>
                                <i style="color: aliceblue;" class="fa-brands fa-linkedin fa-2xl"></i>
                            </a>
                        </div>
                    </div>
                    <h3 class="cv_btn" style="text-align: center;">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <a style="color: aliceblue; padding: 0;" asp-action="TelechargerCv" target="_blank">Télécharger mon CV</a>
                    </h3>
            </article>
    </footer>


    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script>AOS.init();</script>
</body>
</html>

