@model TP_WEB.Models.FormationAcademique

@{
    ViewData["Title"] = "Create";
}

<h1>Créer</h1>

<h4>FormationAcademique</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NomEcole" class="control-label"></label>
                <input asp-for="NomEcole" class="form-control" />
                <span asp-validation-for="NomEcole" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProgrammeEtude" class="control-label"></label>
                <input asp-for="ProgrammeEtude" class="form-control" />
                <span asp-validation-for="ProgrammeEtude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnneeDebutFormation" class="control-label"></label>
                <input asp-for="AnneeDebutFormation" class="form-control" />
                <span asp-validation-for="AnneeDebutFormation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnneeFinFormation" class="control-label"></label>
                <input asp-for="AnneeFinFormation" class="form-control" />
                <span asp-validation-for="AnneeFinFormation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LienProgrammeEtude" class="control-label"></label>
                <input asp-for="LienProgrammeEtude" class="form-control" />
                <span asp-validation-for="LienProgrammeEtude" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="EstDiplomeObtenu" /> @Html.DisplayNameFor(model => model.EstDiplomeObtenu)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
